.confirmation-page-wrapper {
    background: url("../../assets/images/confirmation.png") no-repeat center;
    background-size: contain;
    height: 100vh;
    width: 100vw;
}

.confirmation-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    position: absolute;
    top: 200px;
    right: 200px;
    width: 30%;
    border: 1px solid orange;
    flex-direction: column;
    gap: 24px;
}

.coupon-added {
    position: absolute;
    background-image: url("../../assets/images/coupon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 50%;
    left: 62%;
    height: 200px;
    width: 300px;
}

.coupon-added h4 {
    position: relative;
    top: 70px;
    left: 100px;
}
