.home-page-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcf1e4;
}

.form-wrapper {
    width: 400px;
    border-radius: 8px;
    border: 1px solid black;
}
