.home-page-wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gainsboro;
}

.form-wrapper, .debug-mode {
    width: 400px;
    border-radius: 8px;
    background: white;
    box-shadow: 2px 4px 8px rgb(7, 7, 7);
}

.debug-mode {
    position: fixed;
    top: 100px;
    right: 40px;
}
